@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
}


.text {
    font-family: "Inter", sans-serif;
}

/* ensure the element that holds the map is positioned (parentElement is commonly the wrapper) */
.map-wrapper { position: relative; }

/* If you add a global blur on the map wrapper when selected, the overlay sits above it and won't be blurred */
.map-with-selection .leaflet-container { filter: blur(3px); }

/* overlay specific */
.country-overlay path { vector-effect: non-scaling-stroke; }

.map-container {
    position: relative;
}

.country-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left; /* important */
}