@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}
@import "tailwindcss";

.title {
  font-family: "Antonio", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.para {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: black;
  overflow-x: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  background: #F2613F;
  cursor: pointer;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F2613F;
  cursor: pointer;
}

/* For Internet Explorer */
input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F2613F;
  cursor: pointer;
}

