@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
* {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Antonio", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

